.welcome-screen {
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: 7px solid #4adf83;

  h1 {
    margin-top: 28px;
    margin-bottom: 18px;
  }

  p {
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    padding-bottom: 34px;
  }

  .phone-img {
    height: 35%;
    max-width: 100%;
  }

  .bottom-section {
    margin-top: 34px;
    color: var(--text-secondary-color);
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;

    a {
      text-decoration: none;
      color: #07Bc4c;
    }
  }
}