@mixin overflow-handler($max-width) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: $max-width;
}

@mixin vertical-overflow-handler($max-lines) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $max-lines;
}

@mixin search-input {
  flex: 1;

  .input-wrapper {
    background: white;
    border-radius: 30px;

    .input-base {
      width: 100%;
    }
  }
}